<%= render "shared/header" %>

<div class="main-page">
  <div class="d-flex justify-content-center">
  <p id="notice"><%= notice %></p>
  </div>

  <div class="container">
    <div class="question-title">
      <h2>すべての質問（新着順）</h2>
    </div>
    <div class="card-deck">
      <% @questions.each do |question| %>
        <div class="card mb-3 mb-5" style="width: 25rem; height: 32rem;">
          <div class="card-header" style="height: 70px; background-color: gray;">
            <%= link_to image_tag(question.user.user_icon.url, class:"rounded-circle border border-3", size: "70x70"), question, class: "stretched-link", style:"color: black; text-decoration: none;" %>
          </div>
          <div class="card-body">
          <% if question.answers.present? %>
            <button type="button" class="btn btn-success" style="width: 40%">回答済み</button>
          <% else %>
            <button type="button" class="btn btn-info" style="width: 40%;">回答受付中</button>
          <% end %>
          <% if question.best_answer_id.present? %>
            <button type="button" class="btn btn-warning" style="width: 55%">ベストアンサー</button>
          <% end %>
            <h3 class="card-text"><%= truncate(question.title, length:40) %></h3>
          </div>
          <div class="card-footer" style="background-color: white;">          
            <div><%= question.user.username %></div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="d-flex justify-content-center">
      <%= paginate @questions %>
    </div>
  </div>

  <%= render "shared/question_btn" %>
</div>