<%= render "shared/header" %>

<p id="notice"><%= notice %></p>

<div class="question-show">
  <div class="question-box">
    <h2 class="name">
      <%= @question.title %>
    </h2>
    <% if user_signed_in? && current_user.id == @question.user_id %>
      <%= link_to '編集する', edit_question_path(@question) %> 
      <%= link_to '削除する', question_path, method: :delete, data: { confirm: '本当に質問を削除しますか？' } %>
    <% end %>
    <div class="question-content-box">
      <span><%= @question.content %></span>
    </div>
  </div>
</div>
