<header class='top-page-header'>
    <div class="header-container">
        <div class='search-bar-contents'>
            <%= link_to image_tag('horizontal_on_white_by_logaster.png', class: 'glober-icon'), "/" %>
        </div>
        <% if user_signed_in? %>
            <div class='btn-group'>
                <button class="btn btn-secondary btn-lg dropdown-toggle" style="width:130px; height:45px;" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Menu
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><%= link_to 'マイページ', user_path(current_user.id), class:"dropdown-item" %></li>
                    <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:"dropdown-item"%>
                </ul>
            </div>
        <% else %>
            <ul class="nav justify-content-center">
                <li class="nav-item"><%= link_to '新規登録', new_user_registration_path, class: "nav-link" %></li>
                <li class="nav-item"><%= link_to 'ログイン', user_session_path, class: "nav-link" %>
            </ul>
        <% end %>
    </div>
</header>
<div class="mypage-show">
  <div class="mypage-box">
    <div class="profile-box1">
      <div class="profile-box2">
        <div>
          <%= image_tag @user.user_icon.url, class:"rounded-circle", size: "200x200" %>
        </div>
        <div>
          <h3><%= @user.username %></h3>
        </div>
      </div>
      <div class="profile-box2">
        <div class="profile-edit-link-box">
          <% if user_signed_in? && current_user.id == @user.id %>
            <div class="profile-edit-link"><%= link_to 'プロフィールを編集', edit_user_path(current_user.id), class: "btn btn-outline-secondary rounded-pill"%></div>
          <% end %>
        </div>
            <div>
              <ul class="sns-links">
                <% if @user.twitter_url.present? %>
                  <li class="sns-existed-link">
                    <%= link_to @user.twitter_url, target: :_blank do %>
                      <i class="fa-brands fa-twitter"></i>
                    <% end %>
                  </li>
                <% else %>
                  <li class="sns-nil-link">
                    <i class="fa-brands fa-twitter"></i>
                  </li>
                <% end %>
                <% if @user.linkedin_url.present? %>
                  <li class="sns-existed-link">
                    <%= link_to @user.linkedin_url, target: :_blank do %>
                      <i class="fa-brands fa-linkedin"></i>
                    <% end %>
                  </li>
                <% else %>
                  <li class="sns-nil-link">
                    <i class="fa-brands fa-linkedin "></i>
                  </li>
                <% end %>
                <% if @user.facebook_url.present? %>
                  <li class="sns-existed-link">
                    <%= link_to @user.facebook_url, target: :_blank do %>
                      <i class="fa-brands fa-facebook"></i>
                    <% end %>
                  </li>
                <% else %>
                  <li class="sns-nil-link">
                    <i class="fa-brands fa-facebook"></i>
                  </li>
                <% end %>
                <% if @user.blog_url.present? %>
                  <li class="sns-existed-link">
                    <%= link_to @user.blog_url, target: :_blank do %>
                      <i class="fa-solid fa-link"></i>
                    <% end %>
                  </li>
                <% else %>
                  <li class="sns-nil-link">
                    <i class="fa-solid fa-link"></i>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
      </div>
      <div class="mypage-content-box">
        <span><%= @user.introduction %></span>
      </div>
      <div class="map-chart">
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <div id="regions_div" style="width: 900px; height: 500px;"></div>
      </div>
    </div>
  </div>


   

  <%= render "shared/footer" %>

