<header class='top-page-header'>
    <div class="header-container">
        <div class='search-bar-contents'>
            <%= link_to image_tag('horizontal_on_white_by_logaster.png', class: 'glober-icon'), "/" %>
            <form class="search-form" action="#">
                <input class='input-box' placeholder='キーワードから探す'>
                <button class='search-button'>
                    <%= image_tag "search_icon.jpeg", class: "search-icon" %>
                </button>
            </form>
        </div>
        <% if user_signed_in? %>
            <div class='dropdown'>
                <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                    <%= image_tag current_user.user_icon.url, class:"rounded-circle", size: "60x60" %>
                    <%# <span class="caret"></span> %>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                    <li><%= link_to 'マイページ', user_path(current_user.id), class:"dropdown-item" %></li>
                    <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:"dropdown-item"%></li>
                </ul>
            </div>
        <% else %>
            <ul class="nav justify-content-center">
                <li class="nav-item"><%= link_to '新規登録', new_user_registration_path, class: "nav-link" %></li>
                <li class="nav-item"><%= link_to 'ログイン', user_session_path, class: "nav-link" %>
            </ul>
        <% end %>
    </div>
    <ul class="nav nav-tabs nav-pills">
        <li class="nav-item">
            <%= link_to 'マイページ', questions_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
            <%# <a class="nav-link" href="#"></a> %>
            <%= link_to '質問', questions_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">マップ</a>
        </li>
    </ul>

</header>